html {
    font-size: 15px;
}
body {
    margin: 0;
    padding: 0;
}
.site-navigation {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    background-color: #4d636f;
}
.site-navigation a {
    color: #ffffff;
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    text-decoration: none;
}
.avatar img {
    border-radius: 50%;
}
.avatar a {
    padding: 9px 24px;
}
.logo-link {
    background-color: #3a4b53;
}
.logo-link i {
    padding-right: 8px;
}
.site-navigation a:hover {
    background-color: #999999;
    color: #000000;
}
.container {
    max-width: 1220px;
    margin: 0 auto;
    display: flex;
}
.col-1 {
    margin: 5px;
    flex: 3;
}
.col-2 {
    margin: 5px;
    flex: 5;
}
.col-3 {
    margin: 5px;
    flex: 2;
}
.card {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}